apiVersion: batch/v1
kind: Job
metadata:
  name: regression-test
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
  namespace: argocd
spec:
  template:
    spec:
      containers:
      - name: post-sync-container
        image: jimliu9527/playwright-cloud-filtering:v1
        imagePullPolicy: Always
        command: ["/bin/sh", "-c"]
        args: ["npm run stg && npx playwright show-report"]
      restartPolicy: Never
  backoffLimit: 0